nav{
    background-color: black;
    justify-content: space-between;
    display: flex;
}
nav img{
    width:60px;
}
#section1{
    width:100%;
    height:400px;
}
#section video{
    width:100%;
}

.flex-wrap{
    position: relative;
    overflow: hidden;
    height:200px; 
    margin:20px;
}

.flex{
    position: absolute;
    width:151%;
    margin:10px;
    
}

.item{
    width:332px;
    display:inline-block;
    border-radius: 10px 10px;
}

.btn{
    position: absolute; 
    width:100%;
    height:50px;
    bottom:50px;
    border: 10px solid red;
    justify-content:space-between;
    align-content: space-between;
}
.item img{
    width:100%;
    border-radius: 30px;
}
.b1{
   font-size: 30px;
    border: none;
    outline: none;
    color: black;
    background-color:transparent;
    transition: 0.5s;
    border:10px solid blue;
    
}
